@model ABC.Web.Models.RunLogSearch

@{
    ViewBag.Title = "ABC Run Log";
}

@using (Html.BeginForm("RunLog", "BuildCompare", new { enctype = "multipart/form-data" }, FormMethod.Post, new { id = "frmRunLog" }))
{
    
  <table  width="100%"  class="Center"  >
  
   <tr style="padding:0px;height:100px;">
    <td   style="width:50%;padding:0px;border-spacing:0;border-collapse:collapse; vertical-align:top; ">
        <table style="width:100%; " >
            <tr>
                 <td rowspan="2"  style="font-size:12px;vertical-align:top;">
                     <h2><i><b>Automated Build Compare Tool </b></i></h2><br />
                &nbsp;&nbsp;&nbsp;  <b>  Welcome ABC user: @ViewBag.UserId</b> <br /> <br /> 
                &nbsp;&nbsp;&nbsp; <b>  Run Logs for region: @ViewBag.Region</b>
                </td>
            </tr>
        </table>
    </td>
    <td style="width:10%;text-align:right;"> <input id="btnGo" type="submit" class="btnNew" name="btnGo" value="View" /></td>
    <td  style="width:40%;">
     <table  style="width:100%;  ">
         
          <tr >
              <td  style="text-align:start;width:12%; vertical-align:top;white-space:nowrap"> 
                    <fieldset style="border-radius: 30px; padding: 5px; min-height:30px; border:1px solid black; ">
                        <legend style=" border:0px solid; font-size:10px;color:black;" ><b> Run Type </b> </legend>
                           @Html.RadioButtonFor(m => m.RunType, "B",new {@style = "border:none;"})&nbsp; Build BCP <br />
                           @Html.RadioButtonFor(m => m.RunType, "P",new {@style = "border:none;"})&nbsp; Projections <br />
                    </fieldset>
                </td> 
              <td style="text-align:start;width:14%;vertical-align:top;white-space:nowrap" >
                    <fieldset style="border-radius: 20px; padding: 5px; min-height:10px; min-width:40px; border:1px solid black; ">
                        <legend style=" border:0px solid; font-size:10px;color:black;" ><b> Serverity </b> </legend>
                       @Html.CheckBoxFor(m => m.ChkInfo, new { @checked = Model.ChkInfo,@style = "border:none;"  }) Info &nbsp;&nbsp;&nbsp;  
                       @Html.CheckBoxFor(m => m.ChkWarn, new { @checked = Model.ChkWarn,@style = "border:none;"  }) Warn <br /> 
                       @Html.CheckBoxFor(m => m.ChkFatal, new { @checked = Model.ChkFatal,@style = "border:none;"  })  Error  &nbsp;&nbsp;
                       @Html.CheckBoxFor(m => m.ChkError, new { @checked = Model.ChkError,@style = "border:none;"  })  Fatal &nbsp;&nbsp;
                    </fieldset>
                </td>
                 <td style="text-align:start;width:18%;vertical-align:top;" >
                   <fieldset style="border-radius: 10px; padding: 5px; min-height:30px;min-width:10px; border:1px solid black; ">
                    <legend style=" border:0px solid; color:black;" ><b> Build </b> </legend>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                      @Html.DropDownListFor(m => m.BuildNumber, new SelectList(Model.BuildInfoList, "Value", "Text", new { @Id = "BuildNumber" }))
                    </fieldset> 
                </td>
               <td style="text-align:start;width:10%;vertical-align:top;" >
                   </td>
          </tr>
        </table>
    </td>
  </tr>
</table>   
    
   <table width="100%">
        <tr >
            <td>
               <table   style="width:100%" >
      
                @{ string[] oddEven = new string[] { "odd", "even" }; }
                @{ int i = 0;}
               <tr class="tableHeader"><td  class="tableHeaderCell"  style="width:12%;" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Date/Time</td><td  class="tableHeaderCell">Logger</td><td class="tableHeaderCell"> Log Message </td><td >Severity</td ><td class="tableHeaderCell" > Build Number </td><td> Run Type </td></tr>
       
                @foreach (var item in Model.RunLog)
                {

                    if ((ABC.Web.Models.EnumLogMessage)@item.Severity == ABC.Web.Models.EnumLogMessage.Info)
                    {
                            <tr class="@oddEven[i++ % 2]">
                                <td style="white-space:nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @item.LogEntryDateTime </td>
                                <td > @item.Logger </td>
                                <td >@item.LogMessage</td>
                                <td >
                                       <span> Info </span>
                  
                                </td>
                                <td >
                                    @item.BuildNumber
                                </td>
                                <td >
                                    @if (@item.RunType == "B")
                                    {
                                      <span> Build </span>
                                    }
                                    else
                                    {
                                       <span> Projections </span>
                                    }
                                    </td>

                            </tr>
                    }
                    else if ((ABC.Web.Models.EnumLogMessage)@item.Severity == ABC.Web.Models.EnumLogMessage.Warn)
                    {
                           <tr style="background-color:yellow" >
                                    <td style="white-space:nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @item.LogEntryDateTime </td>
                                    <td > @item.Logger </td>
                                    <td >@item.LogMessage</td>
                                    <td >
                                           <span> Warn </span>
                  
                                    </td>
                                    <td >
                                        @item.BuildNumber
                                    </td>
                                    <td >
                                        @if (@item.RunType == "B")
                                        {
                                          <span> Build </span>
                                        }
                                        else
                                        {
                                           <span> Projections </span>
                                        }
                                        </td>

                            </tr>
                    }
                    else if ((ABC.Web.Models.EnumLogMessage)@item.Severity == ABC.Web.Models.EnumLogMessage.Error)
                    {
                         <tr style="background-color:orange" >
                                    <td style="white-space:nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @item.LogEntryDateTime </td>
                                    <td > @item.Logger </td>
                                    <td >@item.LogMessage</td>
                                    <td >
                                           <span> Error </span>
                  
                                    </td>
                                    <td >
                                        @item.BuildNumber
                                    </td>
                                    <td >
                                        @if (@item.RunType == "B")
                                        {
                                          <span> Build </span>
                                        }
                                        else
                                        {
                                           <span> Projections </span>
                                        }
                                        </td>

                            </tr>
                    }
                    else if ((ABC.Web.Models.EnumLogMessage)@item.Severity == ABC.Web.Models.EnumLogMessage.Fatal)
                    {
                         <tr style="background-color:red" >
                                    <td style="white-space:nowrap">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @item.LogEntryDateTime </td>
                                    <td > @item.Logger </td>
                                    <td >@item.LogMessage</td>
                                    <td >
                                           <span> Fatal </span>
                  
                                    </td>
                                    <td >
                                        @item.BuildNumber
                                    </td>
                                    <td >
                                        @if (@item.RunType == "B")
                                        {
                                          <span> Build </span>
                                        }
                                        else
                                        {
                                           <span> Projections </span>
                                        }
                                        </td>

                            </tr>
                    }
                }
           </td>
      </tr>
   </table>
    
}
<script src="~/ABCWeb/Models/Scripts/jquery-1.8.2.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        $('#btnGo').click(function () {
           
            if ($('#BuildNumber').val() != -1) {
                return true;
            }
            else {

                alert('Please select build number..!');
                return false;
            }

        });
    });

</script>